body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #9493dd;
}

.nome{
    text-align: center;
    font-size: xx-large;
}

.headernome{
    margin: 10% 10% 15% 10%;
}

section{
    margin: 0% 15% 5% 15%
}

.listmenu{
    list-style: none;
    display: inline;
    padding: 1% 5% 2% 5%;
    border: solid;
    border-color: black;
    color: black;
}

.linkmenu{
    text-decoration: none;
    display: inline;
}

.linkmenu:hover{
    background-color: #a444c2;
}

#formacao{
    
}
